<!-- templates/index.html -->
{% extends 'base.html' %}

{% block content %}
<h1>Bookmarks Manager</h1>


<!-- Bookmark Form -->
<div>
    <form id="bookmark-form">
        <input type="text" id="title" placeholder="Title" required />
        <input type="url" id="url" placeholder="URL" required />
        <input type="text" id="category" placeholder="Category" />
        <button type="submit">Add Bookmark</button>
    </form>
</div>

<!-- Categorized Bookmarks -->
{% for category, bookmarks in categorized_bookmarks.items() %}
<div class="category-block">
    <h2>{{ category }}</h2>
    <ul class="bookmark-list">
        {% for bookmark in bookmarks %}
        <li>
            <span>ID: {{ bookmark.id }} ; </span>
            <a href="{{ bookmark.url }}" target="_blank">{{ bookmark.title }}</a>
            <a href="{{ url_for('get_bookmark', bookmark_id=bookmark.id) }}">View</a>
            <button class="delete-btn">Delete</button>
        </li>
        {% endfor %}
    </ul>
</div>


{% endfor %}
{% endblock %}