{% extends 'base.html' %}

{% block content %}
<form action="/register" method="post">
    <input type="text" name="username" placeholder="Username" maxlength="12" required>
    <input type="text" name="first_name" placeholder="First Name" maxlength="12">
    <input type="text" name="last_name" placeholder="Last Name" maxlength="12">
    <input type="email" name="email" placeholder="Email" required>
    <input type="password" name="password" placeholder="Password" required>
    <input type="password" name="password_check" placeholder="Confirm Password" required>
    <button type="submit">Register</button>
</form>
{% endblock %}